<h1><%= @attraction.name %></h1>

Name: <%= @attraction.name %>
Minimum Height: <%= @attraction.min_height %>
Nausea Rating: <%= @attraction.nausea_rating %>
Happiness Rating: <%= @attraction.happiness_rating %>
Tickets: <%= @attraction.tickets %>

<% if @current_user.admin == false %>
  <%= form_tag take_ride_path %>
  <%= hidden_field_tag 'attraction_id', @attraction.id %>
  <%= submit_tag "Go on this ride" %>
<% end %>

<%= link_to "Edit Attraction", attraction_edit_path if @current_user.admin == true %>